@import url("https://cdn.jsdelivr.net/gh/rastikerdar/shabnam-font@v5.0.0/dist/font-face.css");
body {
  margin: 0;
   font-family: "Shabnam", sans-serif !important; /* فونت فارسی شیک */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to left, rgb(27 20 41), rgb(20 15 35));
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Shabnam", sans-serif;
}